/* Import the theme first or copy it over */
@import '@onwo/tailwindcss/themes/moon.css';

@import "tailwindcss";

/* then the plugin after tailwind */
@plugin '@onwo/tailwindcss';

html,
body {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-size-adjust: none; /* Prevent automatic zooming of fonts on some mobile devices. */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Consistent font display behavior on OSX. */
  -moz-osx-font-smoothing: grayscale; /* Consistent font display behavior on OSX. */
}

