@font-face {
  font-family: "Inclusive Sans";
  src: url("/fonts/InclusiveSans[wght].woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* FALLBACKS */
@font-face {
  font-family: "Inclusive Sans Fallback: -apple-system";
  src: local('System Font'), local('.SFNS-Regular');
  ascent-override: 82.2617%;
  descent-override: 21.6478%;
  size-adjust: 115.4851%;
}
@font-face {
  font-family: "Inclusive Sans Fallback: Arial";
  src: local('Arial'), local('ArialMT'), local('Liberation Sans');
  ascent-override: 88.048%;
  descent-override: 23.1705%;
  line-gap-override: 0%;
  size-adjust: 107.8957%;
}
@font-face {
  font-family: "Inclusive Sans Fallback: Noto Sans";
  src: local('Noto Sans Regular'), local('NotoSans-Regular');
  ascent-override: 93.6175%;
  descent-override: 24.6362%;
  size-adjust: 101.4768%;
}

:root {
  --font-inclusive-sans: "Inclusive Sans", "Inclusive Sans Fallback: -apple-system", "Inclusive Sans Fallback: Arial", "Inclusive Sans Fallback: Noto Sans", -apple-system, Arial, "Noto Sans", -apple-system, Arial, "Noto Sans", -apple-system, Arial, Ubuntu, "Noto Sans", sans-serif;
}
