@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

/* FALLBACKS */
@font-face {
  font-family: "Plus Jakarta Sans Fallback: -apple-system";
  src: local('System Font'), local('.SFNS-Regular');
  ascent-override: 92.3784%;
  descent-override: 19.7572%;
  size-adjust: 112.3639%;
}
@font-face {
  font-family: "Plus Jakarta Sans Fallback: Arial";
  src: local('Arial'), local('ArialMT'), local('Liberation Sans');
  ascent-override: 98.8763%;
  descent-override: 21.147%;
  line-gap-override: 0%;
  size-adjust: 104.9796%;
}
@font-face {
  font-family: "Plus Jakarta Sans Fallback: Noto Sans";
  src: local('Noto Sans Regular'), local('NotoSans-Regular');
  ascent-override: 105.1308%;
  descent-override: 22.4846%;
  size-adjust: 98.7342%;
}

:root {
  --font-plus-jakarta-sans: "Plus Jakarta Sans", "Plus Jakarta Sans Fallback: -apple-system", "Plus Jakarta Sans Fallback: Arial", "Plus Jakarta Sans Fallback: Noto Sans", -apple-system, Arial, "Noto Sans", -apple-system, Arial, "Noto Sans", -apple-system, Arial, Ubuntu, "Noto Sans", sans-serif;
}
