@import 'tailwindcss';

@plugin "../../packages/tailwindcss/src/index";

@import './styles/fonts/instrument-sans.css';
@import './styles/fonts/geist-mono.css';

@source "../../packages/ui/src";
@source "../../packages/icons/src";
@source "../../packages/tailwindcss/src/index";

:root {
  --font-base-sans: var(--font-instrument-sans);
}

@theme {
  --font-sans: var(--font-base-sans);
  --font-display: var(--font-base-sans);
  --font-mono: var(--font-geist-mono);

/*
  --theme: light;
  --theme-rounding-mul: 1;
  --radius-xs: calc(var(--theme-rounding-mul, 1) * 0.125rem);
  --radius-sm: calc(var(--theme-rounding-mul, 1) * 0.25rem);
  --radius-md: calc(var(--theme-rounding-mul, 1) * 0.375rem);
  --radius-lg: calc(var(--theme-rounding-mul, 1) * 0.5rem);
  --radius-xl: calc(var(--theme-rounding-mul, 1) * 0.75rem);
  --radius-2xl: calc(var(--theme-rounding-mul, 1) * 1rem);
  --radius-3xl: calc(var(--theme-rounding-mul, 1) * 1.5rem);
  --radius-4xl: calc(var(--theme-rounding-mul, 1) * 2rem);
  --color-current-color: currentColor;
  --color-shade-0: oklch(100.0% 0.000 250.0);
  --color-shade-25: oklch(99.7% 0.000 250.5);
  --color-shade-50: oklch(99.3% 0.000 251.0);
  --color-shade-100: oklch(98.1% 0.000 252.0);
  --color-shade-150: oklch(96.3% 0.000 253.0);
  --color-shade-200: oklch(94.0% 0.000 254.0);
  --color-shade-250: oklch(91.1% 0.000 255.0);
  --color-shade-300: oklch(87.8% 0.000 256.0);
  --color-shade-350: oklch(84.0% 0.000 257.0);
  --color-shade-400: oklch(79.7% 0.000 258.0);
  --color-shade-450: oklch(75.0% 0.000 259.0);
  --color-shade-500: oklch(69.9% 0.000 260.0);
  --color-shade-550: oklch(64.4% 0.000 261.0);
  --color-shade-600: oklch(58.5% 0.000 262.0);
  --color-shade-650: oklch(52.2% 0.000 263.0);
  --color-shade-700: oklch(45.6% 0.000 264.0);
  --color-shade-750: oklch(38.7% 0.000 265.0);
  --color-shade-800: oklch(31.5% 0.000 266.0);
  --color-shade-850: oklch(24.0% 0.000 267.0);
  --color-shade-900: oklch(16.2% 0.000 268.0);
  --color-shade-950: oklch(8.2% 0.000 269.0);
  --color-shade-975: oklch(4.1% 0.000 269.5);
  --color-shade-1000: oklch(0.0% 0.000 270.0);
  */

  --theme: dark;
  --theme-rounding-mul: 1;
  --radius-xs: calc(var(--theme-rounding-mul) * 0.125rem);
  --radius-sm: calc(var(--theme-rounding-mul) * 0.25rem);
  --radius-md: calc(var(--theme-rounding-mul) * 0.375rem);
  --radius-lg: calc(var(--theme-rounding-mul) * 0.5rem);
  --radius-xl: calc(var(--theme-rounding-mul) * 0.75rem);
  --radius-2xl: calc(var(--theme-rounding-mul) * 1rem);
  --radius-3xl: calc(var(--theme-rounding-mul) * 1.5rem);
  --radius-4xl: calc(var(--theme-rounding-mul) * 2rem);
  --color-current-color: currentColor;
  --color-shade-0: oklch(20.0% 0.000 250.0);
  --color-shade-25: oklch(22.1% 0.000 250.0);
  --color-shade-50: oklch(24.2% 0.000 250.0);
  --color-shade-100: oklch(28.5% 0.000 250.0);
  --color-shade-150: oklch(32.7% 0.000 250.0);
  --color-shade-200: oklch(36.8% 0.000 250.0);
  --color-shade-250: oklch(41.0% 0.000 250.0);
  --color-shade-300: oklch(45.1% 0.000 250.0);
  --color-shade-350: oklch(49.2% 0.000 250.0);
  --color-shade-400: oklch(53.3% 0.000 250.0);
  --color-shade-450: oklch(57.3% 0.000 250.0);
  --color-shade-500: oklch(61.3% 0.000 250.0);
  --color-shade-550: oklch(65.3% 0.000 250.0);
  --color-shade-600: oklch(69.3% 0.000 250.0);
  --color-shade-650: oklch(73.2% 0.000 250.0);
  --color-shade-700: oklch(77.1% 0.000 250.0);
  --color-shade-750: oklch(81.0% 0.000 250.0);
  --color-shade-800: oklch(84.8% 0.000 250.0);
  --color-shade-850: oklch(88.7% 0.000 250.0);
  --color-shade-900: oklch(92.5% 0.000 250.0);
  --color-shade-950: oklch(96.2% 0.000 250.0);
  --color-shade-975: oklch(98.1% 0.000 250.0);
  --color-shade-1000: oklch(100.0% 0.000 250.0);
  --color-red-0: oklch(0.0% 0.003 20.0);
  --color-red-25: oklch(2.5% 0.009 20.0);
  --color-red-50: oklch(4.8% 0.016 20.0);
  --color-red-100: oklch(9.3% 0.036 20.0);
  --color-red-150: oklch(13.5% 0.060 20.0);
  --color-red-200: oklch(17.5% 0.085 20.0);
  --color-red-250: oklch(21.4% 0.108 20.0);
  --color-red-300: oklch(25.2% 0.128 20.0);
  --color-red-350: oklch(28.9% 0.144 20.0);
  --color-red-400: oklch(32.6% 0.155 20.0);
  --color-red-450: oklch(36.4% 0.162 20.0);
  --color-red-500: oklch(40.4% 0.165 20.0);
  --color-red-550: oklch(44.5% 0.162 20.0);
  --color-red-600: oklch(48.9% 0.155 20.0);
  --color-red-650: oklch(53.6% 0.144 20.0);
  --color-red-700: oklch(58.7% 0.128 20.0);
  --color-red-750: oklch(64.2% 0.108 20.0);
  --color-red-800: oklch(70.2% 0.085 20.0);
  --color-red-850: oklch(76.7% 0.060 20.0);
  --color-red-900: oklch(83.8% 0.036 20.0);
  --color-red-950: oklch(91.5% 0.016 20.0);
  --color-red-975: oklch(95.7% 0.009 20.0);
  --color-red-1000: oklch(100.0% 0.003 20.0);
  --color-orange-0: oklch(0.0% 0.003 45.0);
  --color-orange-25: oklch(2.5% 0.009 45.0);
  --color-orange-50: oklch(4.8% 0.016 45.0);
  --color-orange-100: oklch(9.3% 0.036 45.0);
  --color-orange-150: oklch(13.5% 0.060 45.0);
  --color-orange-200: oklch(17.5% 0.085 45.0);
  --color-orange-250: oklch(21.4% 0.108 45.0);
  --color-orange-300: oklch(25.2% 0.128 45.0);
  --color-orange-350: oklch(28.9% 0.144 45.0);
  --color-orange-400: oklch(32.6% 0.155 45.0);
  --color-orange-450: oklch(36.4% 0.162 45.0);
  --color-orange-500: oklch(40.4% 0.165 45.0);
  --color-orange-550: oklch(44.5% 0.162 45.0);
  --color-orange-600: oklch(48.9% 0.155 45.0);
  --color-orange-650: oklch(53.6% 0.144 45.0);
  --color-orange-700: oklch(58.7% 0.128 45.0);
  --color-orange-750: oklch(64.2% 0.108 45.0);
  --color-orange-800: oklch(70.2% 0.085 45.0);
  --color-orange-850: oklch(76.7% 0.060 45.0);
  --color-orange-900: oklch(83.8% 0.036 45.0);
  --color-orange-950: oklch(91.5% 0.016 45.0);
  --color-orange-975: oklch(95.7% 0.009 45.0);
  --color-orange-1000: oklch(100.0% 0.003 45.0);
  --color-yellow-0: oklch(0.0% 0.003 90.0);
  --color-yellow-25: oklch(2.5% 0.009 90.0);
  --color-yellow-50: oklch(4.8% 0.016 90.0);
  --color-yellow-100: oklch(9.3% 0.036 90.0);
  --color-yellow-150: oklch(13.5% 0.060 90.0);
  --color-yellow-200: oklch(17.5% 0.085 90.0);
  --color-yellow-250: oklch(21.4% 0.108 90.0);
  --color-yellow-300: oklch(25.2% 0.128 90.0);
  --color-yellow-350: oklch(28.9% 0.144 90.0);
  --color-yellow-400: oklch(32.6% 0.155 90.0);
  --color-yellow-450: oklch(36.4% 0.162 90.0);
  --color-yellow-500: oklch(40.4% 0.165 90.0);
  --color-yellow-550: oklch(44.5% 0.162 90.0);
  --color-yellow-600: oklch(48.9% 0.155 90.0);
  --color-yellow-650: oklch(53.6% 0.144 90.0);
  --color-yellow-700: oklch(58.7% 0.128 90.0);
  --color-yellow-750: oklch(64.2% 0.108 90.0);
  --color-yellow-800: oklch(70.2% 0.085 90.0);
  --color-yellow-850: oklch(76.7% 0.060 90.0);
  --color-yellow-900: oklch(83.8% 0.036 90.0);
  --color-yellow-950: oklch(91.5% 0.016 90.0);
  --color-yellow-975: oklch(95.7% 0.009 90.0);
  --color-yellow-1000: oklch(100.0% 0.003 90.0);
  --color-lime-0: oklch(0.0% 0.003 125.0);
  --color-lime-25: oklch(2.5% 0.009 125.0);
  --color-lime-50: oklch(4.8% 0.016 125.0);
  --color-lime-100: oklch(9.3% 0.036 125.0);
  --color-lime-150: oklch(13.5% 0.060 125.0);
  --color-lime-200: oklch(17.5% 0.085 125.0);
  --color-lime-250: oklch(21.4% 0.108 125.0);
  --color-lime-300: oklch(25.2% 0.128 125.0);
  --color-lime-350: oklch(28.9% 0.144 125.0);
  --color-lime-400: oklch(32.6% 0.155 125.0);
  --color-lime-450: oklch(36.4% 0.162 125.0);
  --color-lime-500: oklch(40.4% 0.165 125.0);
  --color-lime-550: oklch(44.5% 0.162 125.0);
  --color-lime-600: oklch(48.9% 0.155 125.0);
  --color-lime-650: oklch(53.6% 0.144 125.0);
  --color-lime-700: oklch(58.7% 0.128 125.0);
  --color-lime-750: oklch(64.2% 0.108 125.0);
  --color-lime-800: oklch(70.2% 0.085 125.0);
  --color-lime-850: oklch(76.7% 0.060 125.0);
  --color-lime-900: oklch(83.8% 0.036 125.0);
  --color-lime-950: oklch(91.5% 0.016 125.0);
  --color-lime-975: oklch(95.7% 0.009 125.0);
  --color-lime-1000: oklch(100.0% 0.003 125.0);
  --color-green-0: oklch(0.0% 0.003 150.0);
  --color-green-25: oklch(2.5% 0.009 150.0);
  --color-green-50: oklch(4.8% 0.016 150.0);
  --color-green-100: oklch(9.3% 0.036 150.0);
  --color-green-150: oklch(13.5% 0.060 150.0);
  --color-green-200: oklch(17.5% 0.085 150.0);
  --color-green-250: oklch(21.4% 0.108 150.0);
  --color-green-300: oklch(25.2% 0.128 150.0);
  --color-green-350: oklch(28.9% 0.144 150.0);
  --color-green-400: oklch(32.6% 0.155 150.0);
  --color-green-450: oklch(36.4% 0.162 150.0);
  --color-green-500: oklch(40.4% 0.165 150.0);
  --color-green-550: oklch(44.5% 0.162 150.0);
  --color-green-600: oklch(48.9% 0.155 150.0);
  --color-green-650: oklch(53.6% 0.144 150.0);
  --color-green-700: oklch(58.7% 0.128 150.0);
  --color-green-750: oklch(64.2% 0.108 150.0);
  --color-green-800: oklch(70.2% 0.085 150.0);
  --color-green-850: oklch(76.7% 0.060 150.0);
  --color-green-900: oklch(83.8% 0.036 150.0);
  --color-green-950: oklch(91.5% 0.016 150.0);
  --color-green-975: oklch(95.7% 0.009 150.0);
  --color-green-1000: oklch(100.0% 0.003 150.0);
  --color-teal-0: oklch(0.0% 0.003 175.0);
  --color-teal-25: oklch(2.5% 0.009 175.0);
  --color-teal-50: oklch(4.8% 0.016 175.0);
  --color-teal-100: oklch(9.3% 0.036 175.0);
  --color-teal-150: oklch(13.5% 0.060 175.0);
  --color-teal-200: oklch(17.5% 0.085 175.0);
  --color-teal-250: oklch(21.4% 0.108 175.0);
  --color-teal-300: oklch(25.2% 0.128 175.0);
  --color-teal-350: oklch(28.9% 0.144 175.0);
  --color-teal-400: oklch(32.6% 0.155 175.0);
  --color-teal-450: oklch(36.4% 0.162 175.0);
  --color-teal-500: oklch(40.4% 0.165 175.0);
  --color-teal-550: oklch(44.5% 0.162 175.0);
  --color-teal-600: oklch(48.9% 0.155 175.0);
  --color-teal-650: oklch(53.6% 0.144 175.0);
  --color-teal-700: oklch(58.7% 0.128 175.0);
  --color-teal-750: oklch(64.2% 0.108 175.0);
  --color-teal-800: oklch(70.2% 0.085 175.0);
  --color-teal-850: oklch(76.7% 0.060 175.0);
  --color-teal-900: oklch(83.8% 0.036 175.0);
  --color-teal-950: oklch(91.5% 0.016 175.0);
  --color-teal-975: oklch(95.7% 0.009 175.0);
  --color-teal-1000: oklch(100.0% 0.003 175.0);
  --color-cyan-0: oklch(0.0% 0.003 195.0);
  --color-cyan-25: oklch(2.5% 0.009 195.0);
  --color-cyan-50: oklch(4.8% 0.016 195.0);
  --color-cyan-100: oklch(9.3% 0.036 195.0);
  --color-cyan-150: oklch(13.5% 0.060 195.0);
  --color-cyan-200: oklch(17.5% 0.085 195.0);
  --color-cyan-250: oklch(21.4% 0.108 195.0);
  --color-cyan-300: oklch(25.2% 0.128 195.0);
  --color-cyan-350: oklch(28.9% 0.144 195.0);
  --color-cyan-400: oklch(32.6% 0.155 195.0);
  --color-cyan-450: oklch(36.4% 0.162 195.0);
  --color-cyan-500: oklch(40.4% 0.165 195.0);
  --color-cyan-550: oklch(44.5% 0.162 195.0);
  --color-cyan-600: oklch(48.9% 0.155 195.0);
  --color-cyan-650: oklch(53.6% 0.144 195.0);
  --color-cyan-700: oklch(58.7% 0.128 195.0);
  --color-cyan-750: oklch(64.2% 0.108 195.0);
  --color-cyan-800: oklch(70.2% 0.085 195.0);
  --color-cyan-850: oklch(76.7% 0.060 195.0);
  --color-cyan-900: oklch(83.8% 0.036 195.0);
  --color-cyan-950: oklch(91.5% 0.016 195.0);
  --color-cyan-975: oklch(95.7% 0.009 195.0);
  --color-cyan-1000: oklch(100.0% 0.003 195.0);
  --color-blue-0: oklch(0.0% 0.003 250.0);
  --color-blue-25: oklch(2.5% 0.009 250.0);
  --color-blue-50: oklch(4.8% 0.016 250.0);
  --color-blue-100: oklch(9.3% 0.036 250.0);
  --color-blue-150: oklch(13.5% 0.060 250.0);
  --color-blue-200: oklch(17.5% 0.085 250.0);
  --color-blue-250: oklch(21.4% 0.108 250.0);
  --color-blue-300: oklch(25.2% 0.128 250.0);
  --color-blue-350: oklch(28.9% 0.144 250.0);
  --color-blue-400: oklch(32.6% 0.155 250.0);
  --color-blue-450: oklch(36.4% 0.162 250.0);
  --color-blue-500: oklch(40.4% 0.165 250.0);
  --color-blue-550: oklch(44.5% 0.162 250.0);
  --color-blue-600: oklch(48.9% 0.155 250.0);
  --color-blue-650: oklch(53.6% 0.144 250.0);
  --color-blue-700: oklch(58.7% 0.128 250.0);
  --color-blue-750: oklch(64.2% 0.108 250.0);
  --color-blue-800: oklch(70.2% 0.085 250.0);
  --color-blue-850: oklch(76.7% 0.060 250.0);
  --color-blue-900: oklch(83.8% 0.036 250.0);
  --color-blue-950: oklch(91.5% 0.016 250.0);
  --color-blue-975: oklch(95.7% 0.009 250.0);
  --color-blue-1000: oklch(100.0% 0.003 250.0);
  --color-purple-0: oklch(0.0% 0.003 290.0);
  --color-purple-25: oklch(2.5% 0.009 290.0);
  --color-purple-50: oklch(4.8% 0.016 290.0);
  --color-purple-100: oklch(9.3% 0.036 290.0);
  --color-purple-150: oklch(13.5% 0.060 290.0);
  --color-purple-200: oklch(17.5% 0.085 290.0);
  --color-purple-250: oklch(21.4% 0.108 290.0);
  --color-purple-300: oklch(25.2% 0.128 290.0);
  --color-purple-350: oklch(28.9% 0.144 290.0);
  --color-purple-400: oklch(32.6% 0.155 290.0);
  --color-purple-450: oklch(36.4% 0.162 290.0);
  --color-purple-500: oklch(40.4% 0.165 290.0);
  --color-purple-550: oklch(44.5% 0.162 290.0);
  --color-purple-600: oklch(48.9% 0.155 290.0);
  --color-purple-650: oklch(53.6% 0.144 290.0);
  --color-purple-700: oklch(58.7% 0.128 290.0);
  --color-purple-750: oklch(64.2% 0.108 290.0);
  --color-purple-800: oklch(70.2% 0.085 290.0);
  --color-purple-850: oklch(76.7% 0.060 290.0);
  --color-purple-900: oklch(83.8% 0.036 290.0);
  --color-purple-950: oklch(91.5% 0.016 290.0);
  --color-purple-975: oklch(95.7% 0.009 290.0);
  --color-purple-1000: oklch(100.0% 0.003 290.0);
  --color-magenta-0: oklch(0.0% 0.003 320.0);
  --color-magenta-25: oklch(2.5% 0.009 320.0);
  --color-magenta-50: oklch(4.8% 0.016 320.0);
  --color-magenta-100: oklch(9.3% 0.036 320.0);
  --color-magenta-150: oklch(13.5% 0.060 320.0);
  --color-magenta-200: oklch(17.5% 0.085 320.0);
  --color-magenta-250: oklch(21.4% 0.108 320.0);
  --color-magenta-300: oklch(25.2% 0.128 320.0);
  --color-magenta-350: oklch(28.9% 0.144 320.0);
  --color-magenta-400: oklch(32.6% 0.155 320.0);
  --color-magenta-450: oklch(36.4% 0.162 320.0);
  --color-magenta-500: oklch(40.4% 0.165 320.0);
  --color-magenta-550: oklch(44.5% 0.162 320.0);
  --color-magenta-600: oklch(48.9% 0.155 320.0);
  --color-magenta-650: oklch(53.6% 0.144 320.0);
  --color-magenta-700: oklch(58.7% 0.128 320.0);
  --color-magenta-750: oklch(64.2% 0.108 320.0);
  --color-magenta-800: oklch(70.2% 0.085 320.0);
  --color-magenta-850: oklch(76.7% 0.060 320.0);
  --color-magenta-900: oklch(83.8% 0.036 320.0);
  --color-magenta-950: oklch(91.5% 0.016 320.0);
  --color-magenta-975: oklch(95.7% 0.009 320.0);
  --color-magenta-1000: oklch(100.0% 0.003 320.0);
  --color-pink-0: oklch(0.0% 0.003 345.0);
  --color-pink-25: oklch(2.5% 0.009 345.0);
  --color-pink-50: oklch(4.8% 0.016 345.0);
  --color-pink-100: oklch(9.3% 0.036 345.0);
  --color-pink-150: oklch(13.5% 0.060 345.0);
  --color-pink-200: oklch(17.5% 0.085 345.0);
  --color-pink-250: oklch(21.4% 0.108 345.0);
  --color-pink-300: oklch(25.2% 0.128 345.0);
  --color-pink-350: oklch(28.9% 0.144 345.0);
  --color-pink-400: oklch(32.6% 0.155 345.0);
  --color-pink-450: oklch(36.4% 0.162 345.0);
  --color-pink-500: oklch(40.4% 0.165 345.0);
  --color-pink-550: oklch(44.5% 0.162 345.0);
  --color-pink-600: oklch(48.9% 0.155 345.0);
  --color-pink-650: oklch(53.6% 0.144 345.0);
  --color-pink-700: oklch(58.7% 0.128 345.0);
  --color-pink-750: oklch(64.2% 0.108 345.0);
  --color-pink-800: oklch(70.2% 0.085 345.0);
  --color-pink-850: oklch(76.7% 0.060 345.0);
  --color-pink-900: oklch(83.8% 0.036 345.0);
  --color-pink-950: oklch(91.5% 0.016 345.0);
  --color-pink-975: oklch(95.7% 0.009 345.0);
  --color-pink-1000: oklch(100.0% 0.003 345.0);

  /* Background */
  --color-canvas: var(--color-shade-50);
  --color-canvas-secondary: var(--color-shade-100);
  --color-canvas-tertiary: var(--color-shade-200);
  --color-canvas-secondary-hover: var(--color-shade-150);
  --color-canvas-input: var(--color-shade-150);
  --color-canvas-input-hover: var(--color-shade-200);
  --color-canvas-hover: var(--color-shade-150);
  --color-canvas-accent: #e04024;

  --color-accent: #1920e3;
  --color-accent-red: #e04024;

  /* Background contrast */
  --color-canvas-contrast: var(--color-shade-900);
  --color-canvas-contrast-hover: var(--color-shade-750);
  --color-canvas-contrast-secondary: var(--color-shade-750);
  --color-canvas-contrast-secondary-hover: var(--color-shade-700);

  /* Border */
  --color-separator: color-mix(in oklab, var(--color-ink) 14%, transparent);
  --color-separator-secondary: color-mix(in oklab, var(--color-ink) 8%, transparent);
  --color-separator-box: color-mix(in oklab, var(--color-ink) 4%, transparent);

  /* Scrollbar */
  --color-scroll-line: var(--color-shade-250);
  --color-scroll-thumb-dragging: var(--color-shade-700);
  --color-scroll-thumb-expanded: var(--color-shade-600);
  --color-scroll-thumb-folded: var(--color-shade-400);

  /* Text */
  --color-ink: var(--color-shade-900);
  --color-ink-secondary: var(--color-shade-700);
  --color-ink-tertiary: var(--color-shade-600);
  --color-ink-accent: white;
  --color-ink-placeholder: var(--color-shade-600);

  /* Text contrast */
  --color-ink-contrast: white;
  --color-ink-contrast-secondary: white;
  --color-ink-contrast-tertiary: var(--color-shade-100);

  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);

  --tracking-tightest: -0.02em;
  --tracking-tighter: -0.015em;
  --tracking-tight: -0.01em;
  --tracking-normal: 0em;
  --tracking-wide: 0.01em;
  --tracking-wider: 0.015em;
  --tracking-widest: 0.02em;

  --shadow-color: #00000004;

  --text-macro: 11px;
  --text-xs: 0.75rem; 
  --text-xs--line-height: 1rem; 

  --text-sm-code: 0.8125rem; 
  --text-sm-code--line-height: 1.375rem; 

  --text-sm: 0.875rem; 
  --text-sm--line-height: 1.3125rem; 

  --text-md-tag: 0.9375rem; 
  --text-md-tag--line-height: 1.375rem; 
  --text-md-tag--font-weight: 500; 

  --text-base: 1rem; 
  --text-base--line-height: 1.75rem; 

  --text-article: 1.0625rem; 
  --text-article--line-height: 1.875rem; 

  --text-lg: 1.125rem; 
  --text-lg--line-height: 1.875rem; 

  --text-lg-heading: 1.125rem; 
  --text-lg-heading--line-height: 1.625rem; 
  --text-lg-heading--font-weight: 500; 

  --text-xl: 1.25rem; 
  --text-xl--line-height: 1.6875rem; 
  --text-xl--letter-spacing: var(--tracking-tight);

  --text-4xl: 2.25rem; 
  --text-4xl--line-height: 2.625rem; 
  --text-4xl--letter-spacing: var(--tracking-tighter);

  --text-5xl: 3rem; 
  --text-5xl--line-height: 3.25rem; 
  --text-5xl--letter-spacing: var(--tracking-tighter);

  --shadow-1: 0 0 0 1px var(--shadow-color);
  --shadow-2: 0 0 0 1px var(--shadow-color), 0 1px 1px -.5px var(--shadow-color);
  --shadow-3: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color);
  --shadow-4: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color), 0 6px 6px -3px var(--shadow-color);
  --shadow-5: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color), 0 6px 6px -3px var(--shadow-color), 0 12px 12px -6px var(--shadow-color);
  --shadow-6: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color), 0 6px 6px -3px var(--shadow-color), 0 12px 12px -6px var(--shadow-color), 0 24px 24px -12px var(--shadow-color);
  --shadow-7: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color), 0 6px 6px -3px var(--shadow-color), 0 12px 12px -6px var(--shadow-color), 0 24px 24px -12px var(--shadow-color), 0 48px 48px -24px var(--shadow-color);
  --shadow-8: 0 1px 1px -.5px var(--shadow-color), 0 3px 3px -1.5px var(--shadow-color), 0 6px 6px -3px var(--shadow-color), 0 12px 12px -6px var(--shadow-color), 0 24px 24px -12px var(--shadow-color), 0 48px 48px -24px var(--shadow-color), 0 96px 96px -48px var(--shadow-color);

  /* Enter Durations */
  --duration-fast: 80ms;
  --duration-moderate: 160ms;
  --duration-slow: 240ms;
  --duration-slower: 300ms;

  /* Exit Durations */
  --duration-fast-exit: 60ms;
  --duration-moderate-exit: 120ms;
  --duration-slow-exit: 160ms;
  --duration-slower-exit: 240ms;

  /* Easings */
  --ease-spring-fast: cubic-bezier(0.15, 0.85, 0.3, 1);
  --ease-spring-moderate: cubic-bezier(0.34, 1.25, 0.64, 1);
  --ease-spring-slow: cubic-bezier(0.34, 1.45, 0.64, 1);
  --ease-spring-slower: cubic-bezier(0.34, 1.45, 0.64, 1);
  --ease-spring-exit: cubic-bezier(0.4, 0, 1, 1);
}

:root {
  --icon-xs: var(--text-xs);
  --icon-sm: var(--text-sm);
  --icon-md: var(--text-base);
  --icon-lg: var(--text-lg);
  --icon-xl: var(--text-xl);
  --icon-2xl: var(--text-2xl);
  --icon-3xl: var(--text-3xl);
  --icon-4xl: var(--text-4xl);
  --icon-5xl: var(--text-5xl);
  --icon-6xl: var(--text-6xl);
  --icon-7xl: var(--text-7xl);
  --icon-8xl: var(--text-8xl);
  --icon-9xl: var(--text-9xl);
}

body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;

  font-smooth: always;
  font-synthesis: none;
  text-wrap: pretty;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply text-base bg-canvas;
  }
}

@utility type-heading-section {
  @apply font-display text-3xl;
}

@utility type-heading-hero { @apply font-display text-5xl leading-[1.1] }

@utility type-body { @apply text-base text-pretty }
@utility type-body-sm { @apply text-sm text-pretty }

@utility border-style-card {
  border-color: var(--color-separator-secondary);
  box-shadow: 0 1px 2px #0000000a;
}

/***** FVS *****/
@utility font-fvs {
  --fvs-wght: 400;
  --fvs-spacing: 0em;
  font-variation-settings: "wght" var(--fvs-wght);
  letter-spacing: calc(var(--fvs-spacing) + var(--tw-tracking)) !important;
  transition-property: font-variation-settings, letter-spacing;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

@utility fvs-medium { --fvs-wght: 500; }
@utility fvs-semibold { --fvs-wght: 600; }
@utility fvs-bold { --fvs-wght: 700; }

@utility font-normal-dense {
  --tw-font-weight: 460;
  font-weight: var(--tw-font-weight);
}

@utility font-normal-light {
  --tw-font-weight: 360;
  font-weight: var(--tw-font-weight);
}

/***** Transitions *****/
@utility spring-fast {
  --tw-duration: var(--duration-fast);
  --tw-ease: var(--ease-spring-fast);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-moderate {
  --tw-duration: var(--duration-moderate);
  --tw-ease: var(--ease-spring-moderate);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-slow {
  --tw-duration: var(--duration-slow);
  --tw-ease: var(--ease-spring-slow);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-slower {
  --tw-duration: var(--duration-slower);
  --tw-ease: var(--ease-spring-slower);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

/* --- EXIT TWEENS --- */

@utility spring-fast-exit {
  --tw-duration: var(--duration-fast-exit);
  --tw-ease: var(--ease-spring-exit);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-moderate-exit {
  --tw-duration: var(--duration-moderate-exit);
  --tw-ease: var(--ease-spring-exit);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-slow-exit {
  --tw-duration: var(--duration-slow-exit);
  --tw-ease: var(--ease-spring-exit);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}

@utility spring-slower-exit {
  --tw-duration: var(--duration-slower-exit);
  --tw-ease: var(--ease-spring-exit);
  transition-duration: var(--tw-duration);
  transition-timing-function: var(--tw-ease);
  animation-duration: var(--tw-duration);
  animation-timing-function: var(--tw-ease);
}
