@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root.theme-onwo-light,
.theme-onwo-light {
  --accent: 63, 43, 215; /* #5c33cf */
  --line: 230, 229, 244; /* #dcdee3 */

  /* Backgrounds */
  --paper: 255, 255, 255;
  --parchment: 248, 248, 250;
  --papyrus: 242, 242, 248;

  /* Fonts */
  --ink: 2, 0, 40;
  --lead: 99, 98, 137;
  --graphite: 117, 116, 139;

  --forced-a: 255, 255, 255;
  --forced-b: 0, 0, 0;

  --stare: 39 125 97 / 0.8;
  --scan: 12 12 33 / 0.06;
  --gaze: 12 12 33 / 0.56;

  /* support-colors  */
  --warn: 255, 179, 25;
  --error: 255, 78, 100;
  --success: 73, 179, 86; /* #49b356 */
  --scarab: 211, 48, 48; /* #d33030 */
  --mint: 149, 241, 213; /* #95f1d5 */
  --sand: 179, 128, 74; /* #b3804a */
  --neutron: 52, 72, 240; /* #3448f0 */
  --prune: 92, 51, 207; /* #5c33cf */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-onwo: 0.6;

  /* fonts */
  --dm-sans: 'DM Sans';
  --grotesk: 'Space Grotesk';

  /* box-shadow */
  --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.06);
  --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-lg: 0 8px 24px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-xl: 0 32px 32px -8px rgb(0 0 0 / 0.08),
    0 0 32px -8px rgb(0 0 0 / 0.12), 0 0 1px rgb(0 0 0 / 0.2);
}

:root.theme-onwo-dark,
.theme-onwo-dark {
  --accent: 92, 51, 207; /* #5c33cf */
  --line: 68, 68, 68; /* #444444 */
  --parchment: 31, 31, 31; /* #1f1f1f */
  --papyrus: 24, 24, 24; /* #1f1f1f */
  --forced-a: 255, 255, 255; /* #ffffff */
  --paper: 11, 11, 11; /* #0b0b0b */
  --ink: 255, 255, 255; /* #ffffff */
  --lead: 148, 152, 158; /* #94989e */
  --graphite: 148, 152, 158; /* #94989e */
  --popo: 0, 0, 0; /* #000000 */
  --stare: 28 173 132; /* #5c33cf */
  --scan: 255 255 255 / 0.04; /* #ffffff */
  --gaze: 0 0 0 / 0.56; /* #000000 */

  /* support-colors  */
  --warn: 255, 179, 25; /* #ff9800 */
  --warn-60: 255 179 25 / 0.56; /* #ff9800 */
  --warn-10: 255 179 25 / 0.08; /* #ff9800 */

  --error: 255, 78, 100; /* #ff4e64 */
  --error-60: 255 78 100 / 0.56; /* #ff4e64 */
  --error-10: 255 78 100 / 0.08; /* #ff4e64 */

  --success: 73, 179, 86; /* #49b356 */
  --success-60: 73 179 86 / 0.56; /* #49b356 */
  --success-10: 73 179 86 / 0.08; /* #49b356 */

  --scarab: 211, 48, 48; /* #d33030 */
  --scarab-60: 211 48 48 / 0.56; /* #d33030 */
  --scarab-10: 211 48 48 / 0.08; /* #d33030 */

  --mint: 149, 241, 213; /* #95f1d5 */
  --mint-60: 149 241 213 / 0.56; /* #95f1d5 */
  --mint-10: 149 241 213 / 0.08; /* #95f1d5 */

  --sand: 179, 128, 74; /* #b3804a */
  --sand-60: 179 128 74 / 0.56; /* #b3804a */
  --sand-10: 179 128 74 / 0.08; /* #b3804a */

  --neutron: 52, 72, 240; /* #3448f0 */
  --neutron-60: 52 72 240 / 0.56; /* #3448f0 */
  --neutron-10: 52 72 240 / 0.08; /* #3448f0 */

  --prune: 92, 51, 207; /* #5c33cf */
  --prune-60: 92 51 207 / 0.56; /* #5c33cf */
  --prune-10: 92 51 207 / 0.08; /* #5c33cf */

  --coffee: 114, 85, 80; /* #725550 */
  --coffee-60: 114 85 80 / 0.56; /* #725550 */
  --coffee-10: 114 85 80 / 0.08; /* #725550 */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-onwo: 0.6;

  /* fonts */
  --dm-sans: 'DM Sans';
  --grotesk: 'Space Grotesk';

  /* box-shadow */
  --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.64);
  --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.64), 0 0 1px rgb(0 0 0 / 0.56);
  --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.64), 0 0 1px rgb(0 0 0 / 0.56);
  --shadow-lg: 0 24px 24px -6px rgb(0 0 0 / 0.64), 0 0 1px rgb(0 0 0 / 0.56);
  --shadow-xl: 0 48px 48px -6px rgb(0 0 0 / 0.88), 0 0 1px rgb(0 0 0 / 0.72);
}
