@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root.theme-pay-light,
.theme-pay-light {
  --accent: 76, 73, 234; /* #4c49ea */
  --line: 218, 218, 222; /* #dadade */
  --parchment: 244, 245, 246; /* #f4f5f6 */
  --forced-a: 255, 255, 255; /* #ffffff */
  --paper: 255, 255, 255; /* #ffffff */
  --ink: 27, 20, 20; /* #1b1414 */
  --lead: 178, 177, 185; /* #b2b1b9 */
  --forced-b: 0, 0, 0; /* #000000 */
  --stare: 76 73 234 / 0.12; /* #4c49ea */
  --scan: 58 57 72 / 0.12; /* #3a3948 */
  --gaze: 25 30 37 / 0.4; /* #191e25 */

  /* support-colors  */
  --warn: 255, 179, 25; /* #ff9800 */
  --warn-60: 255 179 25 / 0.56; /* #ff9800 */
  --warn-10: 255 179 25 / 0.08; /* #ff9800 */

  --error: 255, 78, 100; /* #ff4e64 */
  --error-60: 255 78 100 / 0.56; /* #ff4e64 */
  --error-10: 255 78 100 / 0.08; /* #ff4e64 */

  --success: 46, 125, 50; /* #2e7d32 */
  --success-60: 46 125 50 / 0.56; /* #2e7d32 */
  --success-10: 46 125 50 / 0.08; /* #2e7d32 */

  --scarab: 211, 48, 48; /* #d33030 */
  --scarab-60: 211 48 48 / 0.56; /* #d33030 */
  --scarab-10: 211 48 48 / 0.08; /* #d33030 */

  --mint: 149, 241, 213; /* #95f1d5 */
  --mint-60: 149 241 213 / 0.56; /* #95f1d5 */
  --mint-10: 149 241 213 / 0.08; /* #95f1d5 */

  --sand: 179, 128, 74; /* #b3804a */
  --sand-60: 179 128 74 / 0.56; /* #b3804a */
  --sand-10: 179 128 74 / 0.08; /* #b3804a */

  --neutron: 52, 72, 240; /* #3448f0 */
  --neutron-60: 52 72 240 / 0.56; /* #3448f0 */
  --neutron-10: 52 72 240 / 0.08; /* #3448f0 */

  --prune: 92, 51, 207; /* #5c33cf */
  --prune-60: 92 51 207 / 0.56; /* #5c33cf */
  --prune-10: 92 51 207 / 0.08; /* #5c33cf */

  --coffee: 114, 85, 80; /* #725550 */
  --coffee-60: 114 85 80 / 0.56; /* #725550 */
  --coffee-10: 114 85 80 / 0.08; /* #725550 */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-onwo: 0.6;

  /* fonts */
  --dm-sans: 'DM Sans';

  /* box-shadow */
  --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.06);
  --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-lg: 0 8px 24px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-xl: 0 32px 32px -8px rgb(0 0 0 / 0.08),
    0 0 32px -8px rgb(0 0 0 / 0.12), 0 0 1px rgb(0 0 0 / 0.2);
}
